@font-face {font-family: 'PFCentroSlabPro-Regular';src: url('css/webfonts/2D89AD_0_0.eot');src: url('css/webfonts/2D89AD_0_0.eot?#iefix') format('embedded-opentype'),url('css/webfonts/2D89AD_0_0.woff2') format('woff2'),url('css/webfonts/2D89AD_0_0.woff') format('woff'),url('css/webfonts/2D89AD_0_0.ttf') format('truetype');}


@font-face {font-family: 'PFCentroSerifPro-Medium';src: url('css/webfonts/2D89AD_1_0.eot');src: url('css/webfonts/2D89AD_1_0.eot?#iefix') format('embedded-opentype'),url('css/webfonts/2D89AD_1_0.woff2') format('woff2'),url('css/webfonts/2D89AD_1_0.woff') format('woff'),url('css/webfonts/2D89AD_1_0.ttf') format('truetype');}


@font-face {font-family: 'PFCentroSlabPro-Bold';src: url('css/webfonts/2D89AD_2_0.eot');src: url('css/webfonts/2D89AD_2_0.eot?#iefix') format('embedded-opentype'),url('css/webfonts/2D89AD_2_0.woff2') format('woff2'),url('css/webfonts/2D89AD_2_0.woff') format('woff'),url('css/webfonts/2D89AD_2_0.ttf') format('truetype');}


@font-face {font-family: 'PFCentroSansPro-Medium';src: url('css/webfonts/2D89AD_3_0.eot');src: url('css/webfonts/2D89AD_3_0.eot?#iefix') format('embedded-opentype'),url('css/webfonts/2D89AD_3_0.woff2') format('woff2'),url('css/webfonts/2D89AD_3_0.woff') format('woff'),url('css/webfonts/2D89AD_3_0.ttf') format('truetype');}


@font-face {font-family: 'PFCentroSlabPro-Medium';src: url('css/webfonts/2D89AD_4_0.eot');src: url('css/webfonts/2D89AD_4_0.eot?#iefix') format('embedded-opentype'),url('css/webfonts/2D89AD_4_0.woff2') format('woff2'),url('css/webfonts/2D89AD_4_0.woff') format('woff'),url('css/webfonts/2D89AD_4_0.ttf') format('truetype');}


@font-face {font-family: 'PFCentroSerifPro-Bold';src: url('css/webfonts/2D89AD_5_0.eot');src: url('css/webfonts/2D89AD_5_0.eot?#iefix') format('embedded-opentype'),url('css/webfonts/2D89AD_5_0.woff2') format('woff2'),url('css/webfonts/2D89AD_5_0.woff') format('woff'),url('css/webfonts/2D89AD_5_0.ttf') format('truetype');}


@font-face {font-family: 'PFCentroSansPro-Regular';src: url('css/webfonts/2D89AD_6_0.eot');src: url('css/webfonts/2D89AD_6_0.eot?#iefix') format('embedded-opentype'),url('css/webfonts/2D89AD_6_0.woff2') format('woff2'),url('css/webfonts/2D89AD_6_0.woff') format('woff'),url('css/webfonts/2D89AD_6_0.ttf') format('truetype');}


@font-face {font-family: 'PFCentroSansPro-Bold';src: url('css/webfonts/2D89AD_7_0.eot');src: url('css/webfonts/2D89AD_7_0.eot?#iefix') format('embedded-opentype'),url('css/webfonts/2D89AD_7_0.woff2') format('woff2'),url('css/webfonts/2D89AD_7_0.woff') format('woff'),url('css/webfonts/2D89AD_7_0.ttf') format('truetype');}


@font-face {font-family: 'PFCentroSerifPro-Regular';src: url('css/webfonts/2D89AD_8_0.eot');src: url('css/webfonts/2D89AD_8_0.eot?#iefix') format('embedded-opentype'),url('css/webfonts/2D89AD_8_0.woff2') format('woff2'),url('css/webfonts/2D89AD_8_0.woff') format('woff'),url('webfonts/2D89AD_8_0.ttf') format('truetype');}